.container {
    margin: 5rem;
}

.background-blue {
    background-color: rgb(19, 17, 43);
}

.h1-section {
    color: #fff;
}

/*Basic*/

h1,
h2,
h3,
h4,
h5 {
    font-weight: 200;
    letter-spacing: 2px;
}

/*Intro*/
.Intro-nav {
    width: 20%;
    float: left;
    height: 100vh;
    background-color: #080813;
}

@media only screen and (max-width: 650px) {
    .Intro-nav {
        width: 100%;
        float: left;
        height: auto;
        text-align: center;
    }
}


.Intro-nav__item {
    margin: 1rem;
    color: #fff;
}

.sidebar__title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #50f9e1;
    color: white;
    margin: 0;
    padding: 3rem;
    font-weight: 200;
    text-align: center;
}

.sidebar__title:before {
    content: "";
    display: block;
    background: center no-repeat url(./imgs/logo2.png);
    width: 100%;
    height: 56px;
    background-size: 81%;
    margin-bottom: 10px;
    float: left;
}

@media only screen and (max-width: 600px) {
    .sidebar__title:before {
        background-size: 20%;
    }
}

.Intro-nav__item-link {
    color: #fff;
    margin-top: 20rem;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-weight: 100;
}

.Intro-nav__item-link:hover {
    color: #ff3e3e;
    text-decoration: none;
    border-bottom: 1px solid #50f9e1;
}

.Intro-nav_item::before,
.Intro-nav_item .vertical-align {
  display: inline-block;
  vertical-align: middle;
}

/*Page*/

.section-wrap {
    padding: 2rem;
}

/*Tables*/


thead {
    font-weight: 700;
}

/*Table Action*/

.delete__action {
    width: 50px;
}

.component__title {
    padding: 4rem 2rem 2rem;
    text-align: center;
}

.main--open {
    width: 80%;
    float: left;
}

/*Dashborad barra de arriba*/

.dashboard {
    display: flex;
    float: right;
    display: none;
}

.dashboard-img {
    float: right;
}


.dashboard-img img {
    width: 60px;
    padding: 0.7rem;
    float: right;
}

.dashboard-img-user img {
    width: 55px;
    border-radius: 25px;
}


/*Form*/

.form-container {
    /* display: none; */
}

.form-basic input  {
    margin: 0.5rem 0;
}

input::placeholder  {
    padding: 10px;
}

.form-basic {
    margin: 1rem;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    list-style: none;
    padding: 0;
}

.form-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    max-width: 170px;
    margin: 1rem 1.5rem;
}

.btn-primary {
    width: 100px;
    height: auto;
    float: left;
    color: #f7f7f7;
    background-color: #ff3e3e;
    /* border: 1px solid #252525; */
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 5px;
}

.btn-primary:hover {
    background-color: #ff2e2e;
    cursor: pointer;
}

/*HOME*/

.home-container {
    color: #fff;
    background-color: #080813;
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.home-container a {
    cursor: pointer;
}


.home-container a:hover {
    color: #ff3e3e;
}


.home-item {
    width: 50%;
    float: right;
    text-align: center;
    margin-top: 5%;
    padding-top: 19%;
    padding-bottom: 11%;
}

.home-item p {
    display: inline;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
}

.home-item p:hover {
    color: #ff3e3e;
    text-decoration: none;
}

.home-item:first-child {
    border-left: 1px solid #f5f5f5;
}

.home-item__img {
    max-width: 100px;
    padding: 1rem;
    display: block;
    margin: 0 auto;
}